<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Creating Visit Page</title>
<style type="text/css">
.form-submit-button {
background: #79B3E9;
color: #fff;
border: 1px solid #eee;
border-radius: 30px;
box-shadow: 5px 5px 5px #eee;
text-shadow: none;
}
.form-submit-button:hover {
background: #016ABC;
color: #fff;
border: 1px solid #eee;
border-radius: 30px;
box-shadow: 5px 5px 5px #eee;
text-shadow: none;
}
</style>
</head>
<body style="background-color:#EAEBB9; text-align: center">
<h2 style="text-align:center;font-family:verdana;font-size:22px">Register A Visit</h2>
	<form action="createv" method="post">
		<span style="font-family:verdana;font-size:21px;text-align:center">Visit ID:</span><br><br><input style="height:20px;background-color:lightblue;font-size:13px;font-family:verdana;" type="text" name="visitId"><br><br>
		<span style="font-family:verdana;font-size:21px;text-align:center">Owner ID:</span><br><br> <input style="height:20px;background-color:lightblue;font-size:13px;font-family:verdana;" type="text" name="ownerId"><br><br>
		<span style="font-family:verdana;font-size:21px;text-align:center">Pet ID:</span><br><br> <input style="height:20px;background-color:lightblue;font-size:13px;font-family:verdana;" type="text" name="petId"><br><br>
		<span style="font-family:verdana;font-size:21px;text-align:center">Symptoms:</span><br><br> <input style="height:20px;background-color:lightblue;font-size:13px;font-family:verdana;" type="text" name="symptoms"><br><br>
		<span style="font-family:verdana;font-size:21px;text-align:center">Speciality ID:</span><br><br> <input style="height:20px;background-color:lightblue;font-size:13px;font-family:verdana;" type="text" name="specialityId"><br><br>
		<span style="font-family:verdana;font-size:21px;text-align:center">DateTime:</span><br><br> <input style="height:20px;background-color:lightblue;font-size:13px;font-family:verdana;" type="text" name="datetime"><br><br>
	    <input style="height:40px; width:120px" class="form-submit-button" type="submit" value="RegisterVisit">
	</form>
</body>
</html>