<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Visits Home Page</title>
<style>
a:hover {
	background-color: lightyellow;
}
</style>
</head>
<body style="background-color:lightblue;text-align: center">
<h1 style="color: green; text-align: center; background-color:yellow">Welcome To Visit Home Page</h1>
	<hr>
	<p>
		<a style="color: darkblue;font-family:verdana;font-size:25px" href="addvisit">Create A New visit For A Pet
		</a>
	</p>
	<p>
		<a style="color: darkblue;font-family:verdana;font-size:25px" href="listvisits">List All Visits For A Pet</a>
	</p>
	<p>
		<a style="color: darkblue;font-family:verdana;font-size:25px" href="listv2">List All Visits </a>
	</p>
</body>
</html>