<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style type="text/css">

a:hover {
	background-color: lightgreen;
}
img {
  width: 21%;
  
}
</style>
</head>
<body style="background-color:lightblue;text-align:center;">
       
	<h1 style="color: green; text-align: center; background-color: yellow">
		PET CLINIC APPLICATION</h1>
	<hr>
	<p>
		<a style="color: darkblue" href="homeowner"><p style="text-align:left;font-family:verdana;font-size:30px;"> OWNER AND PET </a><br><br>
		 <img src="https://img.freepik.com/premium-vector/smiling-boy-with-pet-flat-illustration-guy-four-legged-friend-playing-together-positive-emotions-friendship-young-man-training-pet-cartoon-character-isolated-white_94753-1758.jpg?w=740" style="vertical-align:left"  
		                         height=220 width=195;>
	</p>

	<p>
	<img src="https://i.pinimg.com/564x/72/a5/70/72a570e1f913717e2a8e6375098c60d4.jpg " style="height:210;width:175;text-align:center">
	
		<a style="color:darkblue" href="homevet"><p style="font-family:verdana;font-size:30px;"> VET AND SPECIALITY </a><br><br>
	</p>
	
	
	<p>
		<a style="color:darkblue" href="homevisit"><p style="text-align:right;font-family:verdana;font-size:30px;"> VISIT </a><br><br>
		<img src="https://thumbs.dreamstime.com/z/visiting-vet-clinic-pet-dog-leash-hostess-pet-dog-care-single-icon-cartoon-style-vector-visiting-vet-100686642.jpg" style="vertical-align:right"
		                           height=210;width=175;>
	</p>
</body>
</html>