<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Vet Spec Home Page</title>
<style>
a:hover {
	background-color: lightyellow;
}
</style>
</head>
<body style="background-color:lightblue;text-align: center">
	<h1 style="color: green; text-align: center; background-color:yellow">Vet and Speciality Home Page</h1>
	<hr>
	<p>
		<a href="find" style="color: darkblue;font-family:verdana;font-size:25px">Find One Vet</a>
	</p>

	<p>
		<a href="listvets" style="color: darkblue;font-family:verdana;font-size:25px">List All Vets</a>
	</p>
	<p>
		<a href="listvet" style="color: darkblue;font-family:verdana;font-size:25px">List Vets by SpecialityID</a>
	</p>
	<p>
		<a href="addvet" style="color: darkblue;font-family:verdana;font-size:25px">Add A Vet</a>
	</p>
	<p>
		<a href="updatevetname" style="color: darkblue;font-family:verdana;font-size:25px">Update One Vet</a>
	</p>
	<p>
		<a href="removevet" style="color: darkblue;font-family:verdana;font-size:25px">Delete One Vet</a>
	</p>

	<p>
		<a href="findspec" style="color: darkblue;font-family:verdana;font-size:25px">Find One Speciality</a>
	</p>
	<p>
		<a href="addSpec" style="color: darkblue;font-family:verdana;font-size:25px">Add A Speciality</a>
	</p>
	<p>
		<a href="removespec" style="color: darkblue;font-family:verdana;font-size:25px">Delete One Speciality</a>
	</p>
	<p>
		<a href="listspec" style="color: darkblue;font-family:verdana;font-size:25px">List All Specialities</a>
	</p>
</body>
</html>