<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Owner Pet Home Page</title>
<style>
a:hover {
	background-color: lightyellow;
}
</style>
</head>
<body style="background-color:lightblue;text-align: center">
<h1 style="color: green; text-align: center; background-color:yellow">Welcome To Owner And Pet Home Page</h1>
	<hr>
<!-- 	<img src="dog2.jpg" alt="image not available"> -->
	<p>
		<a href="find1" style="color: darkblue;font-family:verdana;font-size:25px">Find One Owner</a>
	</p>
	<p>
		<a style="color: darkblue;font-family:verdana;font-size:25px" href="createowner"><p style="text-align:center"></p>Create One Owner</a>
	</p>
	<p>
		<a style="color: darkblue;font-family:verdana;font-size:25px" href="delete"><p style="text-align:right"></p>Delete One Owner</a>
	</p>
	<p>
		<a href="update" style="color: darkblue;font-family:verdana;font-size:25px">Update One Owner</a>
	</p>
	
	<p>
		<a href="addP" style="color: darkblue;font-family:verdana;font-size:25px">Add Pet To Owner</a>
	</p>
	<p>
		<a href="remove" style="color: darkblue;font-family:verdana;font-size:25px">Remove Pet From Owner</a>
	</p>
	
	<p>
		<a href="findp" style="color: darkblue;font-family:verdana;font-size:25px">Find One Pet</a>
	</p>
	<p>
		<a href="listall" style="color: darkblue;font-family:verdana;font-size:25px">List All Pets</a>
	</p>
	<p>
		<a href="create" style="color: darkblue;font-family:verdana;font-size:25px">Create One Pet</a>
	</p>
</body>
</html>