<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
	crossorigin="anonymous">
<meta charset="ISO-8859-1">
<title>List All Visits For A Pet Page</title>
<style type="text/css">
.center {
  margin-left: auto;
  margin-right: auto;
}
th, td {
  padding: 20px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.form-submit-button {
background: #79B3E9;
color: #fff;
border: 1px solid #eee;
border-radius: 30px;
box-shadow: 5px 5px 5px #eee;
text-shadow: none;
}
.form-submit-button:hover {
background: #016ABC;
color: #fff;
border: 1px solid #eee;
border-radius: 30px;
box-shadow: 5px 5px 5px #eee;
text-shadow: none;
}
</style>
</head>
<body  style="background-color:#EAEBB9; text-align: center">
	<form action="listvpet" method="get">
		<span style="font-family:verdana;font-size:27px;text-align:center">Enter Pet ID</span><br><br>
		<input style="height:20px;background-color:lightblue;font-size:13px;font-family:verdana;" type="text" name="petId"><br><br>
		<input  style="height:40px; width:120px" class="form-submit-button" type="submit" name="ListVisits"><br><br>
	</form>
	<div th:each="visit:${visitList}">
			<table class="table table-success table-stripped"
			style="max-width: 70%; margin-left: 20%">
			<tr>
				<th>Visit Id</th>
				<th>Owner Id</th>
				<th>Pet Id</th>
				<th>Symptoms</th>
				<th>Speciality Id</th>
				<th>DateAndTime</th>
			</tr>
			<tr>
				<td><span th:text="${visit.visitId}"></span></td>
				<td><span th:text="${visit.ownerId}"></span></td>
				<td><span th:text="${visit.petId}"></span></td>
				<td><span th:text="${visit.symptoms}"></span></td>
				<td><span th:text="${visit.specialityId}"></span></td>
				<td><span th:text="${visit.datetime}"></span></td>
			</tr>
		</table>
		</div>
</body>
</html>