<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
	crossorigin="anonymous">
<meta charset="ISO-8859-1">
<title>List All Visit Page</title>
</head>
<body style="background-color:#EAEBB9">
	<div>
		<table class="table table-success table-striped"
			style="max-width: 70%;margin-left:20%">
			<tr>
				<th>Visit ID</th>
				<th>Owner ID</th>
				<th>Pet ID</th>
				<th>Symptoms</th>
				<th>Speciality ID</th>
				<th>DateTime</th>
			</tr>
			<tr th:each="visit:${visitList1}">
				<td><span th:text="${visit.visitId}"></span></td>
				<td><span th:text="${visit.ownerId}"></td>
				<td><span th:text="${visit.petId}"></td>
				<td><span th:text="${visit.symptoms}"></td>
				<td><span th:text="${visit.specialityId}"></td>
				<td><span th:text="${visit.datetime}"></td>
			</tr>
		</table>
	</div>
</body>
</html>